In [1]:
import pandas as pd
import random
import json

In [2]:
import matplotlib.pyplot as plt

%matplotlib inline

# Read the data

Re-writing data in more convinient format and unnest columns

## Read data from file "offering.txt" that contains info about hotels

In [3]:
#read data from txt
with open('offering.txt', 'r') as handle:
    json_data_offering = [json.loads(line) for line in handle]

In [4]:
#write data to json for easier data reading
with open('offerings.json', 'w') as f1:
    json.dump(json_data_offering, f1)

In [5]:
#read data into dataframe
df_offering = pd.read_json('offerings.json')

In [6]:
df_offering.head()

,hotel_class,region_id,url,phone,details,address,type,id,name
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '147 West 4...",hotel,113317,Casablanca Hotel Times Square
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,,NaN,"{'region': 'CA', 'street-address': '300 S Dohe...",hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '790 Eighth...",hotel,99352,Hilton Garden Inn Times Square
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '152 West 5...",hotel,93589,The Michelangelo Hotel
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,"{'region': 'NY', 'street-address': '130 West 4...",hotel,217616,The Muse Hotel New York

From DataFrame I can see that column "address" is list of dictionaries

In [7]:
#unnest column 'address'
df_offering = df_offering.drop('address', 1).assign(**pd.DataFrame(df_offering.address.values.tolist()))

In [8]:
df_offering.head()

,hotel_class,region_id,url,phone,details,type,id,name,region,street-address,postal-code,locality
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,113317,Casablanca Hotel Times Square,NY,147 West 43rd Street,10036,New York City
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,,NaN,hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills,CA,300 S Doheny Dr,90048,Los Angeles
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,99352,Hilton Garden Inn Times Square,NY,790 Eighth Avenue,10019,New York City
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,93589,The Michelangelo Hotel,NY,152 West 51st Street,10019,New York City
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,217616,The Muse Hotel New York,NY,130 West 46th Street,10036,New York City

In [9]:
#write this dataframe in convenient format
df_offering.to_csv('df_offering.csv', index=False)

## Read data from file "review.txt" that contains all reviews and information about reviews

In [10]:
#read data from txt
with open('review.txt', 'r') as handle:
    json_data_reviews = [json.loads(line) for line in handle]

In [11]:
#write txt to json format for easier data reading
with open('reviews.json', 'w') as f:
    json.dump(json_data_reviews, f)

In [12]:
#read data into dataframe
df_reviews = pd.read_json('reviews.json')

In [13]:
df_reviews.head()

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,2012-12-17,147643103,False
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,2012-12-17,147639004,False
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,2012-12-18,147697954,False
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,2012-12-17,147625723,False
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,2012-12-17,147612823,False

From DataFrame I can see that column "ratings" and "author" is list of dictionaries

In [14]:
#unnest column 'rating'
df_reviews = df_reviews.drop('ratings', 1).assign(**pd.DataFrame(df_reviews.ratings.values.tolist()))

In [15]:
#unnest column 'author'
df_reviews = df_reviews.drop('author', 1).assign(**pd.DataFrame(df_reviews.author.values.tolist()))

In [16]:
df_reviews.head()

,title,text,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile,service,cleanliness,...,value,location,sleep_quality,rooms,check_in_front_desk,business_service_(e_g_internet_access),username,num_cities,num_reviews,num_type_reviews
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,December 2012,93338,12.0,2012-12-17,8C0B42FF3C0FA366A21CFD785302A032,False,5.0,5.0,...,5.0,Gold Coast,5.0,5.0,NaN,NaN,Papa_Panda,22.0,29.0,24.0
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",December 2012,93338,NaN,2012-12-17,E3C85CA9DBBBC77E0DB534ABE93E4713,False,5.0,5.0,...,5.0,"Sydney, New South Wales, Australia",5.0,5.0,NaN,NaN,Maureen V,2.0,2.0,NaN
2,“Great Stay”,This is a great property in Midtown. We two di...,December 2012,1762573,17.0,2012-12-18,FB1032DECE1162CB3556D05F278AAFFD,False,4.0,5.0,...,4.0,Houston,4.0,4.0,NaN,NaN,vuguru,12.0,14.0,14.0
3,“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,August 2012,1762573,26.0,2012-12-17,EC3E275EE7590694889C8C7EE0D13961,False,5.0,5.0,...,5.0,"Laguna Beach, CA",5.0,5.0,NaN,NaN,Hotel-Designer,5.0,5.0,5.0
4,“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,December 2012,1762573,65.0,2012-12-17,BA524A238B1171206691A6CC3F28F266,False,4.0,5.0,...,3.0,"Saint Louis, Missouri",5.0,5.0,NaN,NaN,JamesE339,34.0,104.0,49.0

# Merge 2 dataframes

Merge 2 dataframes to have all information with reviews and all information about hotel in one table

In [17]:
#change name of column to merge 2 tables
df_offering = df_offering.rename(columns={'id': 'offering_id'})
df_offering.head()

,hotel_class,region_id,url,phone,details,type,offering_id,name,region,street-address,postal-code,locality
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,113317,Casablanca Hotel Times Square,NY,147 West 43rd Street,10036,New York City
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,,NaN,hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills,CA,300 S Doheny Dr,90048,Los Angeles
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,99352,Hilton Garden Inn Times Square,NY,790 Eighth Avenue,10019,New York City
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,93589,The Michelangelo Hotel,NY,152 West 51st Street,10019,New York City
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,217616,The Muse Hotel New York,NY,130 West 46th Street,10036,New York City

In [18]:
df_offering['offering_id'] = df_offering['offering_id'].astype(int)

In [19]:
#merge Dataframes "offering" and "reviews"
df_union = pd.merge(df_reviews, df_offering, on=["offering_id"])

In [20]:
df_union.head()

,title,text,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile,service,cleanliness,...,region_id,url,phone,details,type,name,region,street-address,postal-code,locality
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,December 2012,93338,12.0,2012-12-17,8C0B42FF3C0FA366A21CFD785302A032,False,5.0,5.0,...,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",December 2012,93338,NaN,2012-12-17,E3C85CA9DBBBC77E0DB534ABE93E4713,False,5.0,5.0,...,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
2,“Excellent location”,Loved the hotel. Great location - only 2 block...,December 2012,93338,1.0,2012-12-17,035080D10D186778123E6A58C11E0608,False,5.0,5.0,...,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
3,“All-round fantastic NYC hotel”,Our first stay on the upper west side and can'...,December 2012,93338,NaN,2012-12-17,412A714D6BF1607A01CC828645DD70AE,False,5.0,5.0,...,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City
4,“Great hotel in nice area”,"Great room, very big with huge bed! Great loca...",December 2012,93338,3.0,2012-12-17,72B051F423790BE5F0EF6A9FD23EB77E,False,5.0,5.0,...,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,,NaN,hotel,Hotel Beacon,NY,2130 Broadway at 75th Street,10023,New York City

In [21]:
df_union.shape

(878561, 32)

In [22]:
df_union.columns

Index(['title', 'text', 'date_stayed', 'offering_id', 'num_helpful_votes',
       'date', 'id', 'via_mobile', 'service', 'cleanliness', 'overall',
       'value', 'location', 'sleep_quality', 'rooms', 'check_in_front_desk',
       'business_service_(e_g_internet_access)', 'username', 'num_cities',
       'num_reviews', 'num_type_reviews', 'hotel_class', 'region_id', 'url',
       'phone', 'details', 'type', 'name', 'region', 'street-address',
       'postal-code', 'locality'],
      dtype='object')

# Clean data, delete null rows

In [23]:
#delete rows where username is empty
df_union.drop(df_union.loc[df_union['username']==''].index, inplace=True)

In [24]:
#delete rows where username, overall or offering_id is null
df_union.dropna(subset=['username', 'overall', 'offering_id'], inplace=True)

In [25]:
df_union.id.value_counts()

CATID_                              299
6562BBD4EA770FE84E579622F68FA181     63
869E5453ED1ECD12EC2E210BEB6B922E     54
6C62B19C4DB8C600576B763C68AF0759     52
85223AA53CB0DE6A6EB7B3C1E99981B1     52
                                   ...
5752615EAE5C0BD88315B12699ED7480      1
9DA37F0391BB53C34512CB4715B6F8AB      1
8D76CF95689FAE0D30FA5202AB9355ED      1
C12FDAD15CFC603D7EFFEF7F35B13D57      1
0786371B2869F4D4401D5DA0E1406135      1
Name: id, Length: 576687, dtype: int64

In [26]:
df_union.username.value_counts()

Michael S         116
David B            99
John S             96
David S            92
David M            90
                 ...
bostonwoody         1
NewYork5family      1
DonnaGisbert        1
nanook00            1
islebet04           1
Name: username, Length: 536951, dtype: int64

## EDA and more Data cleaning

Let's do some EDA to get analize data and remove 'bad' data:
- how many reviews in each rating score: 5.0, 4.0, 3.0, 2.0, 1.0
- average rating for each hotel
- count number of reviews for each hotel
- count number of reviews for each user
- avarage rating for each city
- count number of hotels in each city

- how many reviews in each rating score: 5.0, 4.0, 3.0, 2.0, 1.0

In [27]:
df_union.overall.value_counts()

5.0    322891
4.0    265721
3.0    112252
2.0     53310
1.0     47319
0.0         1
Name: overall, dtype: int64

Here's one review with rating '0', looks like mistake because users were able to leave rating only from 1 to 5. I'm gonna delete this from Dataframe

In [28]:
#delete reviews with rating 0
df_union.drop(df_union.loc[df_union['overall']==0].index, inplace=True)

- average rating for each hotel

In [29]:
ratings = df_union.groupby(['name'])['overall'].mean().sort_values(ascending=False)

In [30]:
ratings.mean()

3.4996344683539036

In [31]:
#hotels with rating 5.0
ratings[ratings==5.0]

name
The Richardson House                               5.0
Staybridge Suites Houston Iah - Beltway 8          5.0
Oakwood at 777 6th Avenue                          5.0
Sierra Royale                                      5.0
Scottish Inns & Suites - Willowbrook               5.0
Economy Inn Motel                                  5.0
Austin Motor Inn                                   5.0
Wyndham                                            5.0
InTown Suites Indianapolis Northwest               5.0
Sawmill Extended Stay                              5.0
Value Place Northland                              5.0
Braeswood Hotel & Convention Center                5.0
Americas Best Value Inn & Suites-Houston/FM 249    5.0
New York Escape                                    5.0
Inter-Continental Central Park South New York      5.0
Woodland Inn & Suites                              5.0
All Star Hotel                                     5.0
Thompson Hotel                                     5.0
Synergy Avalon Mission Bay                         5.0
Hotel Delmonico                                    5.0
Horizon Inn Motel                                  5.0
Passport Inn San Antonio                           5.0
Adams Mark Hotel                                   5.0
Palace Inn and Suites - Willowbrook                5.0
Adlon Hotel                                        5.0
Residence Inn Houston I-10 West                    5.0
Hilton Garden Inn Houston NW America Plaza         5.0
The Hotel Waterfront Ivy                           5.0
Airport Inn And Suites                             5.0
Candlewoods Suites Medical Center                  5.0
Name: overall, dtype: float64

- count number of reviews for each hotel

In [32]:
reviews_count = df_union.groupby(['name'])['overall'].count().sort_values(ascending=False)

In [33]:
reviews_count

name
Hotel Pennsylvania New York    3797
Waldorf Astoria New York       3146
Park Central                   2998
The New Yorker Hotel           2847
Affinia Manhattan              2836
                               ...
Oakwood at Longacre House         1
Wyndham                           1
Bar X Motel                       1
Valley Lodge Motel                1
Lincoln Motel                     1
Name: overall, Length: 3855, dtype: int64

- count number of reviews for each user

In [34]:
reviews_count_byuser = df_union.groupby(['id'])['overall'].count().sort_values(ascending=False)

In [35]:
reviews_count_byuser

id
CATID_                              299
6562BBD4EA770FE84E579622F68FA181     63
869E5453ED1ECD12EC2E210BEB6B922E     54
85223AA53CB0DE6A6EB7B3C1E99981B1     52
6C62B19C4DB8C600576B763C68AF0759     52
                                   ...
A0C0ABF1FDB3C9DE56BA848DA14F6348      1
A0C0D203DEB1B61000BBF9259A4B5A22      1
A0C0DCCEC004AABAEFB5CD88A6ED4BDA      1
A0C0E290EABB5C946BF70442D7CDE19A      1
7FC56E9337C70B8D630FCFB59E9A988E      1
Name: overall, Length: 576686, dtype: int64

Looks like 'CATID_' user has different format of id. This data look like wrong, I'm gonna delete it from dataframe

In [36]:
#delete user with id CATID_
df_union.drop(df_union.loc[df_union['id']=='CATID_'].index, inplace=True)

- avarage rating for each city

In [37]:
ratings_by_city = df_union.groupby(['locality'])['overall'].mean().sort_values(ascending=False)

In [38]:
ratings_by_city

locality
Chicago          4.089721
Seattle          4.068587
Boston           4.065164
Washington DC    4.025626
Denver           4.014887
Dallas           4.005859
New York City    3.981072
Detroit          3.972244
Phoenix          3.965624
Fort Worth       3.956700
Baltimore        3.948594
San Francisco    3.943632
Houston          3.931909
San Diego        3.918941
San Antonio      3.903860
Austin           3.842848
Jacksonville     3.831773
Philadelphia     3.827356
Charlotte        3.795706
Indianapolis     3.788758
Los Angeles      3.772860
San Jose         3.739944
El Paso          3.702073
Memphis          3.693258
Columbus         3.592757
Name: overall, dtype: float64

- number of reviews for each city

In [39]:
df_offering.locality.value_counts()

New York City    435
Houston          428
San Antonio      343
Los Angeles      296
San Diego        245
San Francisco    236
Dallas           186
Austin           185
Indianapolis     183
Phoenix          178
Charlotte        166
Chicago          165
Columbus         140
Denver           140
Jacksonville     131
Memphis          129
Washington DC    125
Seattle          121
Fort Worth        97
Philadelphia      81
El Paso           77
Boston            75
San Jose          70
Baltimore         69
Detroit           32
Name: locality, dtype: int64

In [40]:
#write all cleaned data into csv file to be able read it from another Notebook
df_union.to_csv('df_union_all.csv', index=False)